.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template: 80px 60px 40px 1fr / 15% 1fr;
  font-family: monospace;
}

.sidebar-navigation {
  border: rgb(238, 234, 234) 1px solid;
  grid-row: 1 / 6;
  grid-column: 1 / 2;
}

.navbar {
  border: rgb(238, 234, 234) 1px solid;
  grid-column: 2 / 7;
}

.page-title {
  border: rgb(238, 234, 234) 1px solid;
  grid-column: 2 / 7;
  font-size: 30px;
  padding-left: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.page-navigation {
  border: rgb(238, 234, 234) 1px solid;
  grid-column: 2 / 7;
}

.project-board {
  border: rgb(238, 234, 234) 1px solid;
}

.board {
  display: grid;
  height: 100%;
  grid-template: 1fr / repeat(5, 1fr);
}

.board-column {
  border: rgb(238, 234, 234) 1px solid;
  margin: 10px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 7% repeat(5, 1fr);
}

.task {
  border: rgb(238, 234, 234) 1px solid;
}